.current-line {
  display: flex;
  flex-direction: row;
}

.word {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  position: relative;
}

.error-indicator {
  border-bottom: red solid 2px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin letter {
  font-family: 'Fira Code';
  font-size: 1rem;
}

.future-letter,
.missed-letter {
  @include letter;
  color: grey;
}

.correct-letter {
  @include letter;
  color: green;
  font-weight: bold;
}

.incorrect-letter,
.extra-letter {
  @include letter;
  color: red;
  font-weight: bold;
}
